<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Book Directory </title>
</head>
<body>
    <h1>Edit the Details of the book </h1>
    <form action="/books/edit/<%= book._id %>" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= book.name %> ">
        <label for="authorName">Author's Name</label>
        <input type="text" name="authorName" value="<%= book.author.name %> ">
        <label for="age">Author's age</label>
        <input type="text" name="age" value="<%= book.author.age %> ">
        <label for="published">Published Date</label>
        <input type="date" name="published" value="<%= book.published.toISOString().substring(0, 10) %>">
        <label for="quantity">Quantity</label>
        <input type="text" name="quantity" value="<%= book.quantity %> ">
        <label for="bestseller">Bestseller</label>
        <input type="checkbox" name="bestseller" id="checkbox" value="true" data-bestseller=<%= book.bestseller %> %> >
        <button type="submit" data-book="<%= book._id %>" id="submit" >Update Book</button>
    </form>
</body>
<script>
    const check = document.querySelector('#checkbox')
    if(check.dataset.bestseller =='true')
        check.checked=true;
</script>
</html>